.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form {
    width: 100%;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



.input-div {
    width: 100%;
    max-width: 600px;
    display: flex;
}

.stretch {
    justify-content: stretch;
}

.margin {
    margin-left:4px;
}

.home-label {
    font-size: 45px;
}

#mapid { height: 180px; }


